.vscode
.idea
target/
*.lock
rustlings/*
!rustlings/exercises/
.editorconfig
.rustfmt.toml
*.exe
*.pdb
*.sln

# Github template

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.lock
*ilk
*.suo
*.ipch
*.db
*.bat

*.iso
*.bin

.vscode/
testdata/
target/
.editorconfig

*/os/Dockerfile
*.elf
dist/
