*.swp
target/
**/*.rs.bk
.DS_Store
*.pdb
exercises/clippy/Cargo.toml
exercises/clippy/Cargo.lock
rust-project.json
.idea
.vscode
*.iml
*.o
.github
src/
tests/

.all-contributorsrc
.gitpod.yml
.replit
AUTHORS.md
CHANGELOG.md
CONTRIBUTING.md
*.toml
install.ps1
install.sh
LICENSE
